# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\HP\Users\HP\TestCodeCamp_Programme\Submissions\SeleniumWebdriverTests\SinglePage_task\Deydam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
